{% extends 'base.html.twig' %}
{% block title %}Contactez nous !{% endblock %}
{% block body %}

{% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalContact" data-bs-whatever="@getbootstrap">Contactez nous !</button>
<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {{ form_start(form) }}
      <div class="modal-body">
        {{ form_row(form.object, {'label_attr': {'class':'col-form-label'}})}}
        {{ form_row(form.email, {'label_attr': {'class':'col-form-label'}}) }}
        {{ form_row(form.message, {'label_attr': {'class':'col-form-label'}})}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button class="btn btn-primary">Envoyer</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
{#
<form>
          <div class="mb-3">
            <label for="object-name" class="col-form-label">Objet :</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Votre e-mail :</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Votre message :</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
#}