{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span></div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
            {% for message in app.flashes('message') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profil de {{ app.user.firstname }} {{ app.user.name }}</h4>
                </div>
                <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Prenom :</label><input type="text" class="form-control" placeholder="name" value="{{ app.user.name }}" disabled></div>
                    <div class="col-md-6"><label class="labels">Nom :</label><input type="text" class="form-control" placeholder="first name" value=" {{ app.user.firstname }} " disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Téléphone :</label><input type="number" class="form-control" placeholder="enter phone number" value="{{ app.user.phone }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Adresse :</label><input type="text" class="form-control" placeholder="enter address line 1" value="{{ app.user.adressLine1 }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Complément d'adresse :</label><input type="text" class="form-control" placeholder="enter address line 2" value="{{ app.user.adressLine2 }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Code postal :</label><input type="text" class="form-control" placeholder="enter address line 2" value="{{ app.user.postcode }}" disabled></div>
                    <div class="col-md-12"><label class="labels">E-mail :</label><input type="text" class="form-control" placeholder="enter email id" value="{{ app.user.email }}" disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Pays :</label><input type="text" class="form-control" placeholder="country" value="{{ app.user.country }}" disabled></div>
                </div>
                <div class="mt-5 text-center"><a href="{{ path('users_edit') }}" class="btn btn-primary">Modifier mon profil</a></div>
                <div class="mt-5 text-center"><a class="btn btn-primary" href="{{ path('users_edit_pass') }}">Modifier mon mot de passe</a></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}