{% extends 'base.html.twig' %}

{% block title %}Bieres index
{% endblock %}

{% block body %}
	<h1>Bieres index</h1>
<div class="table-responsive">
	<table class="table table-hover table-sm table-bordered">
		<thead>
			<tr class="bg-primary">
				<th>Id</th>
				<th>Libelle_Biere</th>
				<th>Marque_Biere</th>
				<th>TitreAlcool_Biere</th>
				<th>Contenance_Biere</th>
				<th>PrixAchat_Biere</th>
				<th>PrixVente_Biere</th>
				<th>PrixTTC_Biere</th>
				<th>Type1_Biere</th>
				<th>Type2_Biere</th>
				<th>Type3_Biere</th>
				<th>Profil_Biere</th>
				<th>Couleur_Biere</th>
				<th>Fabricant_Biere</th>
				<th>Conditionnement</th>
				<th>Origine_Biere</th>
				<th>Description_Biere</th>
				<th>Ingredients_Biere</th>
				<th>Consigne_Biere</th>
				<th>Bio_Biere</th>
				<th>Promo_Biere</th>
				<th>SansAlc_Biere</th>
				<th>SGluten_Biere</th>
				<th>Actif</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for biere in bieres %}
				<tr>
					<td>{{ biere.id }}</td>
					<td>{{ biere.libelleBiere }}</td>
					<td>{{ biere.marqueBiere }}</td>
					<td>{{ biere.titreAlcoolBiere }}</td>
					<td>{{ biere.contenanceBiere }}</td>
					<td>{{ biere.prixAchatBiere }}</td>
					<td>{{ biere.prixVenteBiere }}</td>
					<td>{{ biere.prixTTCBiere }}</td>
					<td>{{ biere.type1Biere }}</td>
					<td>{{ biere.type2Biere }}</td>
					<td>{{ biere.type3Biere }}</td>
					<td>{{ biere.profilBiere }}</td>
					<td>{{ biere.couleurBiere }}</td>
					<td>{{ biere.fabricantBiere }}</td>
					<td>{{ biere.conditionnement }}</td>
					<td>{{ biere.origineBiere }}</td>
					<td>{{ biere.descriptionBiere }}</td>
					<td>{{ biere.ingredientsBiere }}</td>
					<td>{{ biere.consigneBiere ? 'Yes' : 'No' }}</td>
					<td>{{ biere.BioBiere ? 'Yes' : 'No' }}</td>
					<td>
                        <div class="form-check form-switch">
                            <input class="form-check-input promo" type="checkbox" id="flexSwitchCheckChecked" {{ (biere.promoBiere) ? 'checked' : '' }} data-id="{{ biere.id }}">
                            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
					    </div>
                    </td>
					<td>{{ biere.sansAlcBiere ? 'Yes' : 'No' }}</td>
					<td>{{ biere.SGlutenBiere ? 'Yes' : 'No' }}</td>
					<td>
                        <div class="form-check form-switch">
                            <input class="form-check-input actif" type="checkbox" id="flexSwitchCheckChecked" {{ (biere.actif) ? 'checked' : '' }} data-id="{{ biere.id }}">
                            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
					    </div>
                    </td>
					<td>
						<a class="btn btn-primary" href="{{ path('admin_show', {'id': biere.id}) }}">show</a>
						<a class="btn btn-primary" href="{{ path('admin_edit', {'id': biere.id}) }}">edit</a>
						{# <a class="btn btn-primary" href="{{ path('admin_index') }}">back to list</a> #}
						{{ include('bieres/_delete_form.html.twig') }}
					</td>
                    <tr class="bg-primary">
                        <td>Id</td>
                        <td>Libelle_Biere</td>
                        <td>Marque_Biere</td>
                        <td>TitreAlcool_Biere</td>
                        <td>Contenance_Biere</td>
                        <td>PrixAchat_Biere</td>
                        <td>PrixVente_Biere</td>
                        <td>PrixTTC_Biere</td>
                        <td>Type1_Biere</td>
                        <td>Type2_Biere</td>
                        <td>Type3_Biere</td>
                        <td>Profil_Biere</td>
                        <td>Couleur_Biere</td>
                        <td>Fabricant_Biere</td>
                        <td>Conditionnement</td>
                        <td>Origine_Biere</td>
                        <td>Description_Biere</td>
                        <td>Ingredients_Biere</td>
                        <td>Consigne_Biere</td>
                        <td>Bio_Biere</td>
                        <td>Promo_Biere</td>
                        <td>SansAlc_Biere</td>
                        <td>SGluten_Biere</td>
                        <td>Actif</td>
                        <td>actions</td>
                    </tr>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

	<a href="{{ path('admin_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let activerRef = document.querySelectorAll("input.actif")
            let activerPromo = document.querySelectorAll("input.promo")

            for(let bouton of activerRef){
                bouton.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest;

                    xmlhttp.open("get", `/admin/${this.dataset.id}/activerRef`)
                    xmlhttp.send()
                })
            }
            for(let bouton of activerPromo){
                bouton.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest;

                    xmlhttp.open("get", `/admin/${this.dataset.id}/activerPromo`)
                    xmlhttp.send()
                })
            }
        }
    </script>
{% endblock %}
